
@media (max-width: 575.98px) { 

        
    /* header start here  */

    header{
        border-bottom: none;
    }

    .logo_h1 {
        font-size: 24px;
    }
    .menu ul li a {
        margin: 0px 5px;
      
    }
    
    .dropdown_main[data-bs-popper] {
        top: 150%;
        left: 8px;
    }

    .dropdown_main{
        width: 365px;
        border: none;
    }

    .btn_search {
        margin-top: 0px;
        margin-left: -6px;
    }

    .btn_input {
        width: 300px;
        height: 42px;
        border-radius: 2px;
    }
    .search_btn {
        width: 75px;
        height: 42px;
        border-radius: 2px;
    }

    /* slider section start here */

    .slider {
                min-height: 520px;
          
    }
         
    .slider_contant {
         margin-top: 65px;
            }
    .carousel_custom_ind {
                bottom: -150px;
                margin-left: 0%;     
                margin-right: -5px;
    
    }
    .slider_contant h1 {
                font-size: 30px;
                line-height: 40px;
               
     }
    .slider_contant p {
                padding-right: 0px;
                padding-bottom: 20px;
                line-height: 28px;
     }
    .c_btn1 {
                padding: 7px 14px;
     }

     /* courses section design start here */
     .courses {
        padding: 40px 0;   
    }
    .courses_content {
        margin-top: 40px;
    }
    
    
    .c_title h1 {
                font-size: 24px;
                line-height: 40px;
    }

    .c_title p {
                text-align: left;
                text-align: justify;
     }


     

       /* about section design start here  */

       .about{
        padding:20px 0 40px
                
  }
  .about_image img{
    width: 100%;
    height: auto;
}

  .about_content{
       text-align: center;
  }
            
  .about_content h1{
   margin-top: 25px;
   font-size: 24px;
    
   }
    
   .about_btn{
   margin: 0 auto;
   padding: 8px 16px;
   margin-top: 0px;
        

 }

    /* feature section start */

    .feature {
        padding: 30px 0 10px;
    }
    .feature_h1 {
        font-size: 26px;
        margin-bottom: 40px;
    }
    .feature_icon i {
        font-size: 40px;
    }

    .feature_content h2 {
        font-size: 17px;
    }

    .feature_hr {
        width: 100%;
    }

              

   
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

    
    /* header start here  */

    header{
        border-bottom: none;
    }

    .logo_h1 {
        font-size: 26px;
    }
    .menu ul li a {
        margin: 0px 5px;
      
    }
    
    .dropdown_main[data-bs-popper] {
        top: 150%;
        left: 8px;
    }

    .dropdown_main{
        width: 497px;
        border: none;
    }

    .btn_search {
        margin-top: 0px;
        margin-left: -6px;
    }

    .btn_input {
        width: 415px;
        height: 45px;
        border-radius: 2px;
    }
    .search_btn {
        width: 78px;
        height: 45px;
        border-radius: 2px;
    }

        /* slider section start here */
        .slider {
            min-height: 500px;
      
        }
     
        .slider_contant {
            margin-top: 65px;
        }
        .carousel_custom_ind {
            bottom: -130px;
            margin-left: 0%;     
            margin-right: -5px;

        }
        .slider_contant h1 {
            font-size: 35px;
            line-height: 40px;
           
        }
        .slider_contant p {
            padding-right: 35px;
            padding-bottom: 20px;
        }
        .c_btn1 {
            padding: 8px 16px; 
        }

    /* courses section design start here */
    .courses {
        padding: 40px 0;   
    }
    .courses_content {
        margin-top: 40px;
    }

    .c_title h1 {
         font-size: 26px;
        }

    .c_title p {
        text-align: left;
        text-align: justify;
        }




       /* about section design start here  */

      .about{
            padding:20px 0 40px
                    
      }
        
      .about_content{
           text-align: center;
      }
                
      .about_content h1{
       margin-top: 25px;
       font-size: 26px;
        
       }
        
       .about_btn{
       margin: 0 auto;
       padding: 8px 16px;
       margin-top: 0px;
            
     }

     /* feature section start */

    .feature {
        padding: 30px 0 10px;
    }
    .feature_h1 {
        font-size: 26px;
        margin-bottom: 40px;
    }
    .feature_icon i {
        font-size: 40px;
    }

    .feature_content h2 {
        font-size: 17px;
    }

    .feature_hr {
        width: 100%;
    }

        
 
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 



    /* header start here  */

    header{
        border-bottom: none;
    }

    .logo_h1 {
        font-size: 28px;
    }
    .menu ul li a {
        margin: 0px 5px;
      
    }
    
    .dropdown_main[data-bs-popper] {
        top: 150%;
        left: 7px;
    }

    .dropdown_main{
        width: 497px;
        border: none;
    }

    .btn_search {
        margin-top: 0px;
        margin-left: -6px;
    }

    .btn_input {
        width: 415px;
        height: 45px;
        border-radius: 2px;
    }
    .search_btn {
        width: 78px;
        height: 45px;
        border-radius: 2px;
     
    }



        /* slider section start here */
        .slider {
            min-height: 550px;
          
        }
        .slider_contant {
            margin-top: 120px;
        }
        .carousel_custom_ind {
            bottom: -130px;
            margin-left: 0%;     
            margin-right: -5px;

        }
        .slider_contant h1 {
            font-size: 40px;
            line-height: 62px;
           
        }
        .slider_contant p {
            padding-right: 80px;
            padding-bottom: 20px;
        }
        .c_btn1 {
            padding: 8px 16px; 
        }

        /* courses section design start here */
        .c_title h1 {
            font-size: 28px;
            line-height: 40px;
        }

        .c_title p {
            text-align: left;
            text-align: justify;
        }

        /* about section design start here  */

        .about{
            padding:20px 0 40px
            
        }
        .about_content{
            text-align: center;
        }
        
      .about_content h1{
       margin-top: 25px;
       font-size: 28px;

       }

       .about_btn{
        margin: 0 auto;
        padding: 8px 16px;
        margin-top: 0px;
    
    }

    /* feature section start */

    .feature {
        padding: 30px 0 10px;
    }
    .feature_h1 {
        font-size: 28px;
    }

    .feature_hr {
        width: 87%;
    }

    
        

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    /* slider section start here */
    .slider {
        min-height: 600px;
    }

    .slider_contant {
        margin-top: 150px;
    }
    .carousel_custom_ind {
        bottom: -140px;
        margin-left: -70%;
    }
    .slider_contant h1 {
        font-size: 55px;
        line-height: 62px;
       
    }
    .slider_contant p {
        padding-right: 0px;
        padding-bottom: 22px;
    }

    /* about section start here */
    .about_btn{
    margin-top: 0px;
}

/* feature section start  */
.feature_hr {
    width: 100%;
}


 }

 /* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .feature_hr {
        width: 97%;
    }
 
}


 /* Extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {
  
 }